# Ignore all files in export directory
export/*

# Keep this file
!export/.gitkeep
!export/*.html
!export/*.md

# Re-include the files directory
!export/Assignment2_HourlyPowerGenerationofEurope_files/
!export/Assignment2_HourlyPowerGenerationofEurope_files/*.png
